.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #201f26;
  border-radius: 0 0 10px 10px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    li {
      border-top: 2px solid transparent;
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: #0b0a0d;
        border-top: 2px solid #5a2e98;
      }
    }
  }
}
