.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1a1920;
  padding: 1rem;

  .brand-logo {
    a {
      font-size: 1.75rem;
      color: #fff;
      font-weight: 600;
    }
  }

  .btn-signin {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-weight: 500;
    border-radius: 30px;
    font-size: 16px;
    margin-left: 5px;
    text-align: center;

    background: #5a2e98;
    color: #fff;
    border-color: #5a2e98;
  }
}
